{% extends "base.html" %}
{% block title %}{{ term.name }} · {{ config.title }}{% endblock title %}
{% block content %}
  <section class="card">
    <header>
      <h1>Tag: {{ term.name }}</h1>
    </header>
    {% for page in term.pages %}
      <article class="card">
        <header>
          <h2><a href="{{ page.permalink }}">{{ page.title }}</a></h2>
          <p><small>{{ page.date }}</small></p>
        </header>
        <p>{{ page.summary | default(value=page.description | default(value=page.content | striptags | truncate(length=240))) }}</p>
      </article>
    {% endfor %}
  </section>
{% endblock content %}
